/**********
* COLOURS *
***********/

$green: #14302f;
$background: white;
$mint: rgb(0, 173, 159);
$mint-opacity: rgba(0, 173, 159, 0.5);
$light-grey: #898C9D;

/*************
* FONT SIZES *
*************/
$xs-size: 10px;
$s-size: 12px;
$sm-size: 16px;
$m-size: 18px;
$ms-size: 20px;
$ml-size: 26px;
$l-size: 32px;
$xl-size: 42px;
$xxl-size: 54px;
